@import "tailwindcss";

main {
  padding: 8px;
}

/* Light mode defaults */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode overrides */
html.dark {
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
